openapi: 3.1.0
info:
  title: Arcadia Plug Accounts Credentials API
  version: '2024-02-21'
  description: 'The Arcadia Plug API is the primary developer surface of the Arc utility data platform.

    It provides programmatic access to utility accounts, statements (bills), meters,

    interval (15-minute) usage data, providers, sites, files, and webhooks. Authentication

    uses OAuth 2.0 client credentials; an Arcadia-Version header pins request behavior to

    a dated API revision (default 2024-02-21). Sandbox mode is available end-to-end.

    '
  contact:
    name: Arcadia API Support
    url: https://docs.arcadia.com
  license:
    name: Arcadia API Terms
    url: https://www.arcadia.com/terms-of-service
servers:
- url: https://api.arcadia.com
  description: Production
tags:
- name: Credentials
  description: Utility-login credentials used to pull data on behalf of customers.
paths:
  /plug/credentials:
    get:
      tags:
      - Credentials
      summary: List Credentials
      operationId: listCredentials
      parameters:
      - $ref: '#/components/parameters/ArcadiaVersion'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      security:
      - bearerAuth: []
    post:
      tags:
      - Credentials
      summary: Create Credential
      operationId: createCredential
      parameters:
      - $ref: '#/components/parameters/ArcadiaVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                providerId:
                  type: string
                username:
                  type: string
                password:
                  type: string
                  format: password
      responses:
        '201':
          description: Credential created.
      security:
      - bearerAuth: []
  /plug/credentials/{credentialId}:
    get:
      tags:
      - Credentials
      summary: Retrieve Credential
      operationId: retrieveCredential
      parameters:
      - $ref: '#/components/parameters/ArcadiaVersion'
      - in: path
        name: credentialId
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      security:
      - bearerAuth: []
  /plug/credentials/{credentialId}/refresh:
    post:
      tags:
      - Credentials
      summary: Initiate MFA Refresh
      operationId: refreshCredential
      parameters:
      - $ref: '#/components/parameters/ArcadiaVersion'
      - in: path
        name: credentialId
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Refresh initiated.
      security:
      - bearerAuth: []
  /plug/connect/url:
    post:
      tags:
      - Credentials
      summary: Generate Encoded Arcadia Connect URL
      operationId: generateConnectUrl
      parameters:
      - $ref: '#/components/parameters/ArcadiaVersion'
      responses:
        '200':
          description: Encoded Connect URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
      security:
      - bearerAuth: []
components:
  parameters:
    Size:
      in: query
      name: size
      schema:
        type: integer
        default: 20
        maximum: 200
      description: Page size.
    ArcadiaVersion:
      in: header
      name: Arcadia-Version
      required: false
      schema:
        type: string
        default: '2024-02-21'
      description: Date-pinned API version.
    Page:
      in: query
      name: page
      schema:
        type: integer
        default: 0
        minimum: 0
      description: Zero-based page index.
  responses:
    Ok:
      description: Successful response.
      content:
        application/json: {}
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
