openapi: 3.1.0
info:
  title: Arcadia Plug Accounts Files API
  version: '2024-02-21'
  description: 'The Arcadia Plug API is the primary developer surface of the Arc utility data platform.

    It provides programmatic access to utility accounts, statements (bills), meters,

    interval (15-minute) usage data, providers, sites, files, and webhooks. Authentication

    uses OAuth 2.0 client credentials; an Arcadia-Version header pins request behavior to

    a dated API revision (default 2024-02-21). Sandbox mode is available end-to-end.

    '
  contact:
    name: Arcadia API Support
    url: https://docs.arcadia.com
  license:
    name: Arcadia API Terms
    url: https://www.arcadia.com/terms-of-service
servers:
- url: https://api.arcadia.com
  description: Production
tags:
- name: Files
  description: Source documents (PDFs, etc.) for statements and other artifacts.
paths:
  /plug/files:
    get:
      tags:
      - Files
      summary: List Files
      operationId: listFiles
      parameters:
      - $ref: '#/components/parameters/ArcadiaVersion'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      security:
      - bearerAuth: []
  /plug/files/{fileId}:
    get:
      tags:
      - Files
      summary: Retrieve File
      operationId: retrieveFile
      parameters:
      - $ref: '#/components/parameters/ArcadiaVersion'
      - in: path
        name: fileId
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/Ok'
      security:
      - bearerAuth: []
components:
  parameters:
    Size:
      in: query
      name: size
      schema:
        type: integer
        default: 20
        maximum: 200
      description: Page size.
    ArcadiaVersion:
      in: header
      name: Arcadia-Version
      required: false
      schema:
        type: string
        default: '2024-02-21'
      description: Date-pinned API version.
    Page:
      in: query
      name: page
      schema:
        type: integer
        default: 0
        minimum: 0
      description: Zero-based page index.
  responses:
    Ok:
      description: Successful response.
      content:
        application/json: {}
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
